In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
import plotly.graph_objects as go
from pathlib import Path

In [3]:
# Database credentials
db_host = "localhost"      # e.g., "localhost" or an IP address
db_port = "5432"           # Default PostgreSQL port
db_name = "postgres"  # Database name
db_user = "postgres"      # PostgreSQL username
db_password = ""  # PostgreSQL password

# Create connection string for psycopg2
conn = psycopg2.connect(
    host=db_host,
    port=db_port,
    database=db_name,
    user=db_user,
    password=db_password
)

# Create a SQLAlchemy engine (useful for pandas)
engine = create_engine(f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

In [4]:
def pull_data(source_table):
    query = "SELECT * FROM " + source_table +";"
    df = pd.read_sql(query, engine)
    return df

In [ ]:
df_bs = pull_data('transform.amzn_balance_sheets')
df_bs.head()

In [ ]:
df_is = pull_data('transform.amzn_income_statements')
df_is.head()

In [6]:
df_cf = pull_data('transform.amzn_cashflow_statements')
df_cf.head()

,gl_number,gl_account,2020-12-31,2021-12-31,2022-12-31,2023-12-31,2024-09-30
0,1700,Net cash provided by operating activities,6.606400e+10,4.632700e+10,4.675200e+10,8.494600e+10,7.024100e+10
1,1710,Net income (loss),2.133100e+10,3.336400e+10,-2.722000e+09,3.042500e+10,3.924400e+10
2,1720,Depreciation and amortization,2.525100e+10,3.443300e+10,4.192100e+10,4.866300e+10,3.716400e+10
3,1730,Stock-based compensation,9.208000e+09,1.275700e+10,1.962100e+10,2.402300e+10,1.701600e+10
4,1740,Deferred tax expense (benefit),-5.540000e+08,-3.100000e+08,-8.148000e+09,-5.876000e+09,-3.040000e+09

In [7]:
def melt_data(df_name):
    # Melt the dataframe to long format
    df_long = df_name.melt(id_vars=["gl_number", "gl_account"], var_name="quarter", value_name="amount")
    return df_long

In [ ]:
df_is_long = melt_data(df_is)
df_is_long.head()

In [ ]:
df_bs_long = melt_data(df_bs)
df_bs_long.head()

In [8]:
df_cf_long = melt_data(df_cf)
df_cf_long.head()

,gl_number,gl_account,quarter,amount
0,1700,Net cash provided by operating activities,2020-12-31,6.606400e+10
1,1710,Net income (loss),2020-12-31,2.133100e+10
2,1720,Depreciation and amortization,2020-12-31,2.525100e+10
3,1730,Stock-based compensation,2020-12-31,9.208000e+09
4,1740,Deferred tax expense (benefit),2020-12-31,-5.540000e+08

In [9]:
def export(df_name, file_name):
    file_path_name = '/Volumes/stageTB/stage/' + file_name + '.csv'
    file_path = Path(file_path_name)
    df_name.to_csv(file_path, index=False)
    return 'done'

In [ ]:
export(df_is_long,'amzn_income_statements_long')

In [ ]:
export(df_bs_long,'amzn_balance_sheets_long')

In [11]:
export(df_cf_long,'amzn_cashflow_statements_long')

'done'